<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CRM.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="StartPage" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowScreenSize" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>UAN</value>
            </setting>
            <setting name="Languaguе" serializeAs="String">
                <value>ru-US</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrencyFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="Tips" serializeAs="String">
                <value>On</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Simple</value>
            </setting>
            <setting name="Sidebar" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="DBConnection" serializeAs="String">
                <value />
            </setting>
        </CRM.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CRM.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.0.1</value>
            </setting>
        </CRM.Properties.Settings>
    </applicationSettings>
</configuration>